@using Generic_Repository.Models;
@model Book 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome with our Books</h1>
    <h1>@Model.Name</h1>
</div>
